/* Footer styles */
.footer {
    width: 100%;
    background-color: darkred;
    color: gold;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
}

.footer p {
    margin: 0;
    padding: 16px;
    font-size: 20px;
}