.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.profileBox {
    padding: 15px;
    background-color: darkred;
    color: gold;
    text-align: center;
    width: 50%;
    margin: 15px;
}

.profileName {
    font-size: 40px;
}


